body{
    background-color: #88E888;
}
.formborder{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width: 1300px;
    height: 1000px;
    margin: 25px 50px 25px 15px;
    box-shadow:1px 1px 7px  black;;
}
.formheading{
    text-align: center;
}
.formheading h2{
    color: #1A6421;
}
.form-info{
    border: 2px solid rgb(224, 187, 23);
    width: 1259px;
    height: 175px;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFDDE;
}
.bold{
    font-weight: 700;
}
.p-bold{
color: blue;
font-weight: 700;
}
.personal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.input-field{
    width: 1260px;
    height: 30px;
    border: 1px solid black;
    margin-top: 5px;
}
div{
    margin-top: 20px;
}
.mendetry{
    color: red;
}
button{
    background-color: #2441e7;
    color: white;
}
footer p{
    text-align: center;
}
.form-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}